{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <!-- Structure of 'register form' -->
    <form action="/register" method="POST" id="register_form">
    
        <div class="alert alert-danger text-center d-none" id="error_message"></div>
        
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>    
    </form>

    <!-- Error validation logic with alert messages -->
    <script>
        document.getElementById("register_form").addEventListener("submit", async function(event) {
            event.preventDefault()

            let username = document.getElementById("username").value.trim();
            let password = document.getElementById("password").value.trim();
            let confirmation = document.getElementById("confirmation").value.trim();
            let error_message = document.getElementById("error_message");

            error_message.classList.add("d-none");
            error_message.classList.add("alert-danger");
            error_message.innerHTML = "";

            // Frontend validation: ensuring there are no blank spaces and password validation
            if (username === "")
            {
                error_message.innerHTML = "⚠️<strong>Error:</strong> You must enter a <strong>username</strong> to register"
                error_message.classList.remove("d-none");
                return;
            }
            if (password === "")
            {
                error_message.innerHTML = "⚠️<strong>Error:</strong> You must enter a <strong>password</strong> to register"
                error_message.classList.remove("d-none")
                return;
            }
            if (confirmation === "")
            {
                error_message.innerHTML = "⚠️<strong>Error:</strong> You must enter the <strong>password confirmation</strong> to register"
                error_message.classList.remove("d-none")
                return;
            }
            if (password !== confirmation)
            {
                error_message.innerHTML = "⚠️<strong>Passwords do not match</strong>"
                error_message.classList.remove("d-none");
                return;
            }

            // Backend validation: Ensure a unique username is registered. Database check.

            // Send the form information to validate
            let response = await fetch("/register", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username, password })
            });

            // Get the validation respond
            let data = await response.json();

            // Redirect to route("/") if registered correctly
            if (response.ok)
            {
                window.location.href = data.redirect_url;
            } 
            // Else, error message
            else 
            {
                error_message.innerHTML = `⚠️<strong>Error</strong>: ${data.message}`;
                error_message.classList.remove("d-none");
            }
        });
    </script>
{% endblock %}